.jydaDe {
    width: 100%;
    clear: left;
    display: table;
    border-collapse: separate;
}

.week-row, .day-row {
    display: table-row;
}

.week-row > div, .day-row > div {
    display: table-cell;
}

.jydaDe-head {
    width: 100%;
}

.jydaDe-head > div {
    width: 25%;
    float: left;
}

.jydaDe-head > div:last-child {
    text-align: right;
    float: right;
}

.jydaDe-head #jydaDe-head {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.day-row div{
    width: 30px;
    height: 30px;
    position: relative;
    box-sizing: border-box;
}
/*不能点击的样式*/
.day-row div.jydaDe-disabled{
    color: #ccc;
}
.day-row > div input, .day-row > div label {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.day-row > div label {

}

.day-row > div input {
    opacity: 0;
    display: block;
    z-index: 199;
}

/*高亮样式*/
.day-row > div input:checked + label,.day-row > div label.label-action{
    border: 1px solid red
}